:root  > * {
  --md-primary-fg-color:        #a10f2b;
  --md-primary-fg-color--light: #a10f2b;
  --md-primary-fg-color--dark:  #a10f2b;

  --md-accent-fg-color:                #a10f2b;
  --md-accent-fg-color--transparent:  #c6cfba;
}

/* Maximum space for text block */
.md-grid {
  max-width: 70%; /* or 100%, if you want to stretch to full-width */
}
