# from https://github.com/marketplace/actions/deploy-mkdocs
name: Publish docs via GitHub Pages
on:
  release:
    types: [published]
  pull_request:
    types: [labeled]

jobs:
  build:
    name: Deploy docs
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || contains(github.event.pull_request.labels.*.name, 'pr/documentation')
    steps:
      - name: Checkout main
        uses: actions/checkout@v6

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
