name: Upload Full Release

on:
  release:
    types: [ "published" ]

jobs:
  release-full:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the source code
      uses: actions/checkout@v6

    - name: Setup HEMTT
      uses: arma-actions/hemtt@v1

    - name: Build TTT Mod Full Release
      run: hemtt release

    - name: Upload full version to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: releases/ttt-latest.zip
        asset_name: ttt-$tag.zip
        tag: ${{ github.ref }}
        overwrite: true
